
#social-links {
    text-align: center;
}

#social-links ul li {
    width: 250px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
}
#social-links ul li span.ifacebook,
#social-links ul li span.itwitter,
#social-links ul li span.igoogleplus {
    display: inline-table;
    width: 41px;
    text-align: center;
}
#social-links ul li span.ifacebook { background: #354f88; padding: 10px 0 10px 0; }
#social-links ul li span.itwitter { background: #40a2d1; padding: 10px 0 10px 0; }
#social-links ul li span.igoogleplus { background: #ce3e26; padding: 10px 0 10px 0; }
#social-links ul li a.afacebook,
#social-links ul li a.atwitter,
#social-links ul li a.agoogleplus {
    display: inline-table;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    width: 200px;
    text-align: center;
}
#social-links ul li a.afacebook { background: #3b5998; padding: 15px 0 10px 0; }
#social-links ul li a.atwitter { background: #45b0e3; padding: 15px 0 10px 0; }
#social-links ul li a.agoogleplus { background: #de4c34; padding: 15px 0 10px 0; }
#social-links ul li a.afacebook:active { background: #354f88; }
#social-links ul li a.atwitter:active { background: #40a2d1; }
#social-links ul li a.agoogleplus:active { background: #ce3e26; }
